@import url('https://fonts.googleapis.com/css?family=Lora');

body {
    font-family: 'Lora', serif;
    max-width: 1300px;
    min-width: 200px;
    margin: auto;
    
}

h1 {
    text-align: center;
}

.main_art {
    width: 30%;
}

#main_sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}