.place_for_border {
    width: 100%;
    border: 20px solid #2e3fdc;
    border-image-source: url(../image/cooking_border.jpg);
    border-image-slice: 40%;
    border-image-width: 100px;
    margin: auto;
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
}

.text_in_border {
    width: 95%;
    height: 97%;
    margin: auto;
    padding: 2%;
    z-index: 0;
    position: relative;
    color: #2716b5;
}

.image_for_background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

p {
    text-indent: 30px;
}

iframe {
  display: block;
  margin: 0 auto;
}

.card mb-3 {
  height: 200px !important;
}

label {
  display: block;
}

input:checked ~ #checkmark {
color: green;
text-decoration: line-through;
}

label, input {
  cursor: pointer;
}

.container {
  position: relative;
  padding-left: 40px;
}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 5px;
}

.container:hover input ~ .checkmark {
  background-color: #42b3e8;
}

.container input:checked ~ .checkmark {
  background-color: #28c32c;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 7px;
  top: 1px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.text_in_border img {
  border-radius: 10px;
  border: groove #ff8300 3px;
}

.recipe_image {
  height: 300px; 
  width: 500px; 
  opacity: 1; 
  position: relative; 
  z-index: 2; 
  display: block; 
  margin: 2rem auto;
}

.recipe_image_two_in_a_line {
  height: 300px; 
  width: 48%; 
  opacity: 1; 
  position: relative; 
  z-index: 2; 
  display: inlane; 
  margin: 2rem auto;
}

label:hover {
  color:#ffffff;
}

label::first-letter {
  text-transform: lowercase;
}

@media (max-width: 595px) {
  iframe {
    width: 100%;
  }

  .text_in_border {
    width: 97%;
    padding: 4%;
  }

  .recipe_image {
    width: 100%;
    height: 100%;
  }

   .text_in_border h1 {
    font-size: 1.5rem;
  }

  .place_for_border {
    border-image-slice: 49%;
    border-image-width: 80px;
    margin: auto;    
  }
  
  .recipe_image_two_in_a_line {
  height: 100%; 
  width: 48%;
  } 
}

@media (max-width: 480px) {
  .text_in_border h1 {
    font-size: 1rem;
  }
}

.animated-box {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #ff5700;
  padding: 10px;
  text-align: center;
  width: 90%;
  margin: 2rem auto;
}

.animated-box.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 2s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }  
}

.animated-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background: linear-gradient(90deg, #0575E6, #00f2f2,#3051bf, #4800f2);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 5px 100%, 5px 5px, calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), 5px calc(100% - 5px), 5px 100%, 100% 100%, 100% 0%, 0% 0%);
}

